:global(.shop-logo) {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

:global(.fa-clock) {
  color: #50aa8c;
}

:global(.shop-name) {
  font-weight: bold;
  font-size: 16px;
}

:global(.shop-timetable) {
  font-size: 14px;
}

:global(.shop-info) {
  font-size: 14px;
}



:global(.center) {
  margin: auto;
  width: 100%;
}
